
#root {
  margin: 0;
  padding: 0; 
  /* height: 1100px; */
  height: 100%;
}


.bb{
  background-image: url("./assets/images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;



}
#root .container {
  max-width: 1400px;
  max-height: 100%;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* background-image: url("./assets/images/Home.svg"); */
}

#root .container-front {
  margin: 20px;
  padding: 20px;
  height: 650px;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#root .containerHeader {
  background: #001845;
  /* background: transparent; */
  opacity: 0.75;
  top:50px;
  bottom: 50px;
  height: 65px;
  width: 100%;
  position: sticky;
}

#root .container-front .btn-primary {
  color: rgb(252, 252, 252);
  background-color:#003459;
  border-color:#003459;
}

#root .container-front .btn {
  display: inline-block;
  font-weight: 500;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem 6rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#root .container-front .btn-group-lg > .btn, .btn-lg {
  padding: 1rem 1rem;
      padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}


